<div>
    <div class="well">
        <h4> Create the document structure</h4>
        <p>- Structure the UI by using semantic markup, including for search engines and screen readers (Section, Article, Nav, Header, Footer, and Aside); create a layout container in HTML</p>
        <p>- Write code that interacts with UI controls </p>
        <p>- Programmatically add and modify HTML elements; implement media controls; implement HTML5 canvas and SVG graphics</p>
        <p>- Apply styling to HTML elements programmatically</p>
        <p>- Change the location of an element; apply a transform; show and hide elements</p>
        <p>- Implement HTML5 APIs</p>
        <p>- Implement storage APIs, AppCache API, and Geolocation API</p>
        <p>- Establish the scope of objects and variables</p>
        <p>- Define the lifetime of variables; keep objects out of the global namespace; use the “this” keyword to reference an object that fired an event; scope variables locally and globally </p>
        <p>- Create and implement objects and methods</p>
        <p>- Implement native objects; create custom objects and custom properties for native objects using prototypes and functions; inherit from an object; implement native methods and create custom methods</p>
    </div>
    
    <ul class="list-group">
        <li class="list-group-item"><a> 1.1 - Create the document structure</a></li>
    </ul>
</div>
