        <ul class="list-group">
    <li class="list-group-item" data-toggle="collapse" data-target="#secondDemand">
        <a>Implement program flow (25%)</a>
    </li>
    <li id="secondDemand" class="collapse">
        <div class="well">
            <ul>
                <li> Iterate across collections and array items; manage program decisions by using switch statements, if/then, and operators; evaluate expressions</li>
                <li style="display:block">Raise and handle an event - Handle common events exposed by DOM (OnBlur, OnFocus, OnClick); declare and handle bubbled events; handle an event by using an anonymous function</li>
                <li>Implement exception handling - Set and respond to error codes; throw an exception; request for null checks; implement try-catch-finally blocks</li>
                <li>Implement a callback - Receive messages from the HTML5 WebSocket API; use jQuery to make an AJAX call; wire up an event; implement a callback by using anonymous functions; handle the “this” pointer</li>
                <li>Create a web worker process - Start and stop a web worker; pass data to a web worker; configure timeouts and intervals on the web worker; register an event listener for the web worker; limitations of a web worker</li>
            </ul>
        </div>
    </li>
</ul>