<div>
    <video id="videoSample_1">
        <source src="video/SampleVideo_1280x720_2mb.mp4" type="video/mp4">
        I'm sorry; your browser doesn't support HTML5 video.
    </video>
</div>

<button type="button" class="btn btn-default btn-sm" (click)="play();">
    <span class="glyphicon glyphicon-play"></span> Play
</button>
<button type="button" class="btn btn-default btn-sm" (click)="pause();">
    <span class="glyphicon glyphicon-stop"></span> Stop
</button>
<button type="button" class="btn btn-default btn-sm" (click)="back();">
    <span class="glyphicon glyphicon-fast-backward"></span> Fast Backward
</button>