<hr />
<div class="well">
    <p>This objective covers how to: </p>
    <ul>
        <li>Use HTML 5 semantic markup</li>
        <li>Create a layout container in HTML</li>
        <li>Optimize for search engines</li>
        <li>Optimize for screen readers</li>
    </ul>
</div>
<div>
    <h1>HTML5 elements</h1>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>HTML5 elements</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><kbd>< article></kbd><br></td>
                <td>Defines self-contained areas on a page</td>
            </tr>
            <tr>
                <td><kbd>< aside></kbd><br></td>
                <td>Defines smaller content areas outside the flow of a webpage</td>
            </tr>
            <tr>
                <td><kbd>< figcaption></kbd><br></td>
                <td>Defines the caption of a figure element</td>
            </tr>
            <tr>
                <td><kbd>< figure></kbd><br></td>
                <td>Defines the caption of a figure element</td>
            </tr>
            <tr>
                <td><kbd>< footer></kbd><br></td>
                <td>Defines the caption of a figure element</td>
            </tr>
            <tr>
                <td><kbd>< header></kbd><br></td>
                <td>Defines the caption of a figure element</td>
            </tr>
            <tr>
                <td><kbd>< hgroup></kbd><br></td>
                <td>Defines the caption of a figure element</td>
            </tr>
            <tr>
                <td><kbd>< header></kbd><br></td>
                <td>Defines the caption of a figure element</td>
            </tr>
            <tr>
                <td><kbd>< mark></kbd><br></td>
                <td>Defines the caption of a figure element</td>
            </tr>
            <tr>
                <td><kbd>< nav></kbd><br></td>
                <td>Defines the caption of a figure element</td>
            </tr>
            <tr>
                <td><kbd>< progress></kbd><br></td>
                <td>Defines the caption of a figure element</td>
            </tr>
            <tr>
                <td><kbd>< section></kbd><br></td>
                <td>Defines the caption of a figure element</td>
            </tr>
        </tbody>
    </table>
</div>

<br />
<div class="progress-html">
    <header><h3>Progress</h3></header>
    <kbd>"< progress>"</kbd>
    <p>Goal 1000</p>
    <span>0</span>
    <progress value="50" max="1000"></progress>
    <span>1000</span>
    <br />
    <p>Downloading data</p>
    <progress max="5"></progress>
</div>

<br />

<div class="mark-html">
    <header><h3>Mark</h3></header>
    <kbd>"< mark>"</kbd>
    <p>
        Some very <mark style="background-color: red;">important</mark> information provided here!
    </p>
</div>