<div class="container">
    <h1 class="text-center">Microsoft Exams</h1>
    <p class="text-center">A website to provide and learn Microfts exams </p>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Exam 70-480</h1>
                <p>Programming in HTML5 with JavaScript and CSS3</p>
                <p>
                    <a class="btn btn-primary btn-lg" [routerLink]="['/exam-70-480']" role="button">
                        Exam 70-480
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>