<div class="container-fluid">
    <header>
        <h1 class="text-center">Exam 70-480</h1>
        <p class="text-center">Programming in HTML5 with JavaScript and CSS3</p>
    </header>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Using the DOM</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Program Flow</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default well">
                <div class="panel-body">
                    <p>jQuery DOM manipulation</p>
                    <p>Canvas element</p>
                    <p>Browser storage APIs</p>
                    <p>Object and variable scope</p>
                    <p>Prototype functions</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default well">
                <div class="panel-body">
                    <p>AJAX</p>
                    <p>Wiring up events</p>
                    <p>Exception handling</p>
                    <p>Web workers</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">Working with Data</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">CSS Features</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default well">
                <div class="panel-body">
                    <p>Consuming JSON, XML</p>
                    <p>XMLHttpRequest</p>
                    <p>Serializing data</p>
                    <p>JavaScript validation</p>
                    <p>HTML input type validation</p>
                    <p>Regular Expressions</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default well">
                <div class="panel-body">
                    <p>Flexible layouts and adaptive UI</p>
                    <p>Screen size targeting</p>
                    <p>2D and 3D Transforms</p>
                    <p>Ways to show/hide controls</p>
                    <p>Inheritance</p>
                    <p>Pseudo-classes</p>
                </div>
            </div>
        </div>
    </div>
</div>